@charset "UTF-8";

/* Estilização global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 700px){
    article{
        min-width: 100%;
        border-radius: 0;

        padding: 0;
        margin: 0;

        .conteudo{
            padding: 30px;

            h1{
                font-size: clamp(2rem, 8vw, 3rem);
            }
        }

        img{
            width: 100%;
            border-radius: 0;
        }
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    article{
        min-width: 80%;
        margin: auto;
        padding: 0;
        
        .conteudo{
            padding: 50px;

            h1{
                font-size: 3rem;
            }
        }
        
        img{
            width: 100%;
            border-radius: 0;
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px){
    article{
        max-width: 900px;

        .conteudo{
            padding: 20px;
            
            img{
                width: 100%;
                margin-bottom: 30px;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (min-width: 2000px){
    article{
        max-width: 50%;
    }
}